<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if header.description %}
        <meta name="description" content="{{ header.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ theme_url }}/img/favicon.png">
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

        {% block stylesheets %}
            {# Cascade core CSS #}
            {% do assets.add('theme://css/materialize.css',101) %}

        {# CSS cascade custom #}
            {% do assets.add('theme://css/style.css',100) %}
            {% do assets.add('theme://css/style.css',100) %}
            {% do assets.addCss('https://fonts.googleapis.com/icon?family=Material+Icons') %}
            {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css') %}

            {{ assets.css() }}
        {% endblock %}

        {% endblock head %}
      </head>
<body class="grey lighten-3">
{% include 'partials/nav.html.twig' %}
<div class="col s12 z-depth-1">
    {% if config.plugins.breadcrumbs.enabled %}
      {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
</div>
<div id="color-bar">
</div>
<div class="container white z-depth-1">
  <div class="col white">
    <div id="content">
    {% block content %} {{ page.content }} {% endblock %}
    </div>
  </div>
</div>
{% include 'partials/footer.html.twig' %}

<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
<a class="btn-floating btn-large red">
  <i class="large material-icons">mode_edit</i>
</a>
<ul>
  <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
  <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
  <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
</ul>
</div>

</body>
</html>
