       <div class="row">
         <div class="card hoverable z-depth-1">
           <div class="card-image">
           {% if big_header %}
       			{{ page.media.images|first.cropResize(900,600).html('', '', 'responsive-img') }}
       		{% else %}
       			{{ page.media.images|first.cropZoom(900,300).html('', '', 'responsive-img') }}
       		{% endif %}
          </div>
          <div class="container">
					<span class="card-title">
             {% if page.header.link %}
         			<h4 class="grey-text darken-4-text shadow">
         				{% if page.header.continue_link is not sameas(false) %}
         					<a href="{{ page.url }}"><i class="mdi mdi-chevron-double-right"></i></a>
         				{% endif %}
         				<a href="{{ page.header.link }}">{{ page.title }}</a>
         			</h4>
         		{% else %}
         			<h4 class="grey-text darken-4-text shadow"><a href="{{ page.url }}">{{ page.title }}</a></h4>
         		{% endif %}
            <h5 class="grey-text darken-4-text shadow">
              <i class="mdi mdi-calendar"></i> {{ page.date|date("F") }} {{ page.date|date("d") }}, {{ page.date|date("Y") }}
            </h5>
					</span>
           </div>
           <div class="card-content">
           {% if page.header.continue_link is sameas(false) %}
       			<p>{{ page.content }}</p>
       			{% if not truncate %}
       			{% set show_prev_next = true %}
       			{% endif %}
       		{% elseif truncate and page.summary != page.content %}
       			<p class="flow-text">{{ page.summary }}</p>
       		{% elseif truncate %}
       			<p class="flow-text">{{ page.content|truncate(550) }}</p>
       		{% else %}
       			<p class="flow-text">{{ page.content }}</p>
       			{% set show_prev_next = true %}
       		{% endif %}
           </div>
           <div class="card-action">
           {% if show_prev_next %}
             <p>
               {% if not page.isFirst %}
                 <a class="btn waves-effect waves-light" href="{{ page.nextSibling.url }}"><i class="mdi mdi-chevron-left left"></i>Next Post</a>
               {% else %}
                 <a class="btn disabled"><i class="mdi mdi-chevron-left left"></i>Next Post</a>
               {% endif %}

               {% if not page.isLast %}
                 <a class="btn previous waves-effect waves-light" href="{{ page.prevSibling.url }}">Previous Post<i class="mdi mdi-chevron-right right"></i></a>
               {% else %}
                 <a class="btn previous disabled">Previous Post<i class="mdi mdi-chevron-right right"></i></a>
               {% endif %}
             </p>
           {% endif %}
					 <div class="row">
					 <div class="col s6">
          <span class="left-align"><a href="{{ page.url }}">Continue Reading...</a></span>
				</div>
             {% if page.taxonomy.tag %}
						 <div class="col s6">
               <span class="header-tags right-align">
                 {% for tag in page.taxonomy.tag %}
                 <a class="chip" href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag|upper }}</a>
                 {% endfor %}
               </span>
						 </div>
             {% endif %}
					 </div>
           </div>
         </div>
       </div>
