<div class="navbar-fixed">
    <nav class="{{ config.themes.mdux.navcolor }} nav-shadow" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{ site.url }}" class="brand-logo">{{ site.title }}</a>

            <ul class="right hide-on-med-and-down">
                {% for page in pages.children %}
                    {% if page.visible %}
                        {% set current_page = (page.active or page.activeChild)
                            ? 'active'
                            : '' %}
                        <li class="{{ current_page }}">
                            <a href="{{ page.url }}">{{ page.menu }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="side-nav" id="slide-out">
                <li>
                    <div class="userView {{ config.themes.mdux.barcolor }}">
                        <img class="background" src="{{ theme_url }}/images/nav_bg2.jpg">
                        <a href="#!user"><img class="circle {{ config.themes.mdux.acccolor }}" src="{{ theme_url }}/images/user2.jpg"></a>
                        <a href="#!name">
                            <span class="white-text name">{{config.site.author.name}}</span>
                        </a>
                        <a href="#!email">
                            <span class="white-text email">{{config.site.author.email}}</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="subheader">Navigation</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                {% for page in pages.children %}
                    {% if page.visible %}
                        {% set current_page = (page.active or page.activeChild)
                            ? 'active'
                            : '' %}
                        <li class="{{ current_page }}">
                            <a class="waves-effect" href="{{ page.url }}">{{ page.menu }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="subheader">Subheader</a>
                </li>
                <li>
                    <a class="waves-effect" href="#!">Static Link with Waves</a>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>
