<div class="navbar-fixed">
    <nav class="blue darken-3 nav-shadow" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">{{ site.title }}</a>

            <ul class="right hide-on-med-and-down">
                {% for page in pages.children %}
                    {% if page.visible %}
                        {% set current_page = (page.active or page.activeChild)
                            ? 'active'
                            : '' %}
                        <li class="{{ current_page }}">
                            <a href="{{ page.url }}">{{ page.menu }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li>
                    <div class="userView">
                        <img class="background" src="images/nav_bg_mobile.jpg">
                        <a href="#!user"><img class="circle" src="images/user.jpg"></a>
                        <a href="#!name">
                            <span class="white-text name">Tyler Woods</span>
                        </a>
                        <a href="#!email">
                            <span class="white-text email">tyler@tnware.net</span>
                        </a>
                    </div>
                </li>

                {% for page in pages.children %}
                    {% if page.visible %}
                        {% set current_page = (page.active or page.activeChild)
                            ? 'active'
                            : '' %}
                        <li class="{{ current_page }}">
                            <a href="{{ page.url }}">{{ page.menu }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="subheader">Subheader</a>
                </li>
                <li>
                    <a class="waves-effect" href="#!">Static Link with Waves</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>
