  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{ site.title }}</a>

    <ul class="right hide-on-med-and-down">
      {% for page in pages.children %}
      {% if page.visible %}
      {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="logo">
          <a id="logo-container" href="http://materializecss.com/" class="brand-logo">
                      <object id="front-page-logo" type="image/svg+xml" data="https://upload.wikimedia.org/wikipedia/commons/1/17/Yin_yang.svg">Your browser does not support SVG</object></a>
        </li>
      {% for page in pages.children %}
      {% if page.visible %}
      {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
      {% endif %}
      {% endfor %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
