<ul class="collection with-header">

    {% if config.plugins.simplesearch.enabled %}
        <li class="collection-header">
            <h5>Search</h5>
        </li>
        <div class="collection-item">
            {% include 'partials/simplesearch_searchbox.html.twig' %}
        </div>
    {% endif %}

    <li class="collection-header">
        <h5>Links</h5>
    </li>
    <a href="#!" class="collection-item blue-text">Link 1</a>
    <a href="#!" class="collection-item blue-text">Link 2</a>
    <a href="#!" class="collection-item blue-text">Link 3</a>
    <a href="#!" class="collection-item blue-text">Link 4</a>

    {% if config.plugins.relatedpages.enabled and related_pages | length > 0 %}
        <li class="collection-header">
            <h5>Related Posts</h5>
        </li>
        {% include 'partials/relatedpages.html.twig' %}
    {% endif %}

    {% if config.plugins.random.enabled %}
        <li class="collection-header">
            <h5>Random Article</h5>
        </li>
        <div class="collection-item">
            <a class="btn waves-effect waves-light {{ config.themes.mdux.acccolor }} flow-text" href="{{ base_url_relative }}/random">
                <i class="mdi mdi-repeat left"></i>
                I'm Feeling Lucky!</a>
        </div>
    {% endif %}

    <li class="collection-header">
        <h5>Static Text</h5>
    </li>
    <div class="collection-item">
        <h4>A Text Widget</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
    </div>

    {% if config.plugins.taxonomylist.enabled %}
        <li class="collection-header">
            <h5>Tags</h5>
        </li>
        <div class="collection-item">
            {% include 'partials/taxonomylist.html.twig' with {'taxonomy': 'tag'} %}
        </div>
    {% endif %}

    {% if config.plugins.archives.enabled %}
        {% set archives_show_count = false %}
        <li class="collection-header">
            <h5>Archives</h5>
        </li>
        <div class="collection-item">
            {% include 'partials/archives.html.twig' %}
        </div>
    {% endif %}

    {% if config.plugins.feed.enabled %}
        <li class="collection-header">
            <h5>Feeds</h5>
        </li>
        <div class="collection-item">
            <div>
                <a class="btn {{ config.themes.mdux.acccolor }}" href="{{ feed_url }}.atom">
                    <i class="fa fa-rss" aria-hidden="true"></i>&nbsp;Atom 1.0</a>
                <a class="btn {{ config.themes.mdux.acccolor }}" href="{{ feed_url }}.rss">
                    <i class="fa fa-rss-square" aria-hidden="true"></i>&nbsp;RSS</a>
            </div>
        </div>
    {% endif %}

</ul>
